html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: Trebuchet MS, sans-serif;
}

.style1,
.style2 {
    border: solid rgb(47, 47, 47);
    color: rgb(47, 47, 47);
}

.style1 {
    background-color: rgb(255, 218, 96);
}

.increase-font {
    font-size: large;
}

.standard, 
.title {
    padding: 16px;
    margin: 16px;
}

.title {
    text-align: center;
}

.subtitle,
.text {
    padding: 16px;
    text-align: left;
}

.subtitle {
    margin: 16px 48px;
}

.text {
    margin: 16px 24px;
}

.little-subtitle {
    padding: 8px;
    margin: 16px 48px;
    text-align: left;
    font-size: small;
}

.borderless {
    border: none;
    padding:0;
}

.format-img {
    display: block;
    margin: 16px auto;
    border: 8px solid rgb(47, 47, 47);
}

.navlink {
    display:inline-block;
    margin-top: -10px;
    margin-bottom: 0;
}

.element-list {
    display: inline-block;
    padding-bottom: 8px;
}



